@import "../../../../../styles/base";
$module: 'SingleIngredient';

.#{$module} {
  &__singleIngredient {
    display: flex;
    margin-bottom: 10px;
  }
  &__name {
    width: 60%;
    margin-right: 30px;
    position: relative;
  }
  &__amount {
    width: 20%;
    margin-right: 30px;
  }
  &__unit {
    width: 20%;
  }
  &__toStandard {
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
    right: 10px;
    top: 10px

  }
}