$dark-blue-main: #333745;
$text-blue: #76D3FF;
$text-placeholders: #8A8A8A;


// Greyscale Colors
$black: #000;
$gray-darker: #212121;
$gray-dark: #757575;
$gray: #9E9E9E;
$gray-light: #E0E0E0;
$gray-lighter: #FAFAFA;
$gray-lightest: #F9F9F9;
$white: #fff;

$green-main-light: #8CC63F;
$green-main-dark: #006837;



$default-border: 1px solid #{$gray-light};

$button-shadow: 1px 1px 1px 0 rgba(0,0,0,0.50);

//z-index
$level1: 1;
$level2: 2;
$level3: 3;
$level4: 5;
$level5: 10;
$level6: 100;
$level7: 1000;
$level8: 1000000;
