@import "../../../../../styles/base";
$module: 'IngredientsInputs';

.#{$module} {
  display: flex;
  flex-direction: column;
  margin-top: 27px;
  &__ingredientsLabels {
    display: flex;
  }
  &__label {
    @extend %label;
  }
  &__singleIngredient {
    display: flex;
    margin-bottom: 10px;
  }
  &__name {
    width: 60%;
    margin-right: 30px;
  }
  &__amount {
    width: 20%;
    margin-right: 30px;
  }
  &__unit {
    width: 20%;
  }
}